<!-- templates/partials/playlists_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='file-title'>Title</label><br>
        <input id='file-title' type='text' name='title'/>
    </p>
       <!-- Photo URL-->
       <p>
        <label for='photo'>Photo URL</label><br>
        <input id='photos' type='text' name='photos' value='{{ stl.photos }}' />
      </p>
      <!-- File URL-->
             <p>
                <label for='stl-url'>File URL</label><br>
                <input id='photos' type='text' name='stl_url' value='{{ stl.stl_url }}' />
              </p>
    
    <!-- DESCRIPTION -->
    <p>
      <label for='description'>Description</label><br>
      <input id='description' type='text' name='description' value='{{ stl.description }}' />
    </p>
    
    </fieldset>
    
    <!-- BUTTON -->
    <p>
        <button type='submit'>Save File</button>
    </p>

  