<!-- templates/playlists_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/files_index'>Back to Home</a>

<h1>{{ stl.title }}</h1>
<h2>{{ stl.description }}</h2>
<!-- <h1> {{ stl.photos }}</h1> -->
<img src='{{ stl.photos }}' height="315" width="420">
<p></p><a href='{{ stl.stl_url }}'>Files</a></p>
<p><a href='/files/{{ stl._id }}/edit'>Edit</a></p>


<!-- Delete button -->
<p><form method='POST' action='/files/{{ stl._id }}/delete'>
    <button type='submit'>Delete</button>
</form></p>
{% endblock %}

